default:
  image: node:24.12.0-alpine
  tags:
    - cluster

cache:
  key: "$CI_PIPELINE_IID"
  paths:
    - node_modules/

workflow:
  rules:
    - if: $CI_COMMIT_BRANCH =~ /^release/
      variables:
        PUBLISH_RELEASE: false
        PUBLISH_SNAPSHOT: true
    - if: $CI_COMMIT_TAG
      variables:
        PUBLISH_RELEASE: true
        PUBLISH_SNAPSHOT: false

stages:
  - install
  - release
  - publish

include:
  - component: $CI_SERVER_FQDN/intech/infrastructure/common-ci/npm-install@2.4.0
    inputs:
      node-version: "22"
  - component: $CI_SERVER_FQDN/intech/infrastructure/common-ci/publish-release-or-snapshot@2.4.0 

check-package-lock:
  stage: install
  script:
    - |
      if grep -q "intech.dev" package-lock.json; then
       echo "References to internal Nexus founded";
       exit 1;
      fi
  rules:
    - if: $CI_COMMIT_BRANCH =~ /^release/

